
{% extends 'base.html' %}


{% block body %}
<body style="background-color: #9bbeeb;"></body>
    <div style="background-color: #9bbeeb;">  
    <div><h1 class="display-20 text-center bolder" style = "height:100px; line-height:100px">Welcome to ADHD Productivity Tool!</h1></div>
   
    
    <div class="container text-left display-3 text-center border border-5 white" style = "border-style:groove; width:600px;">
        <div class="row">
        <div class="col">
          <h3 class = "bold"> MISSION STATEMENT</h3>
          <h2 class ="lighter">To help people with ADHD organize their tasks and motivate themselves to complete them. <p> </p></p>
        </div>
    </div>
    </div>
    
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src=" https://www.verywellmind.com/thmb/HrNyzBE-BMQ_XVYqeH1m2hci3aM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/xthingsiwishpeopleknewaboutadhd-Final-7b8e9177f03644d88165408a30f9b5e8.png" class="d-block w-100" alt="..." width="400" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://www.verywellmind.com/thmb/FCs16oEsPh8LcueE6kUtlDhqH1A=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/The-lost-art-of-resting-with-adhd2-3c3188ef8a5a4d42857e9f58e047307c.png" class="d-block w-100" alt="..."  width="400" height="500" >
      </div>
      <div class="carousel-item">
        <img src="https://www.verywellhealth.com/thmb/zeZQkVPST5khjvEmDpoW4KxpWGk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/adhd-attention-deficit-hyperactivity-disorder-included-definition-symptoms-traits-causes-treatment-5084784_final-bc92546bc9df465ea7f13fc423c2085b.jpg" class="d-block w-100" alt="..." width="400" height="500">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>



    
    


    

    {% endblock %}