<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> My research topic was the impact of ADHD on people's productivity. After finding out that having ADHD makes it very diffiult for people to focus and highly prone to distraction and procrastination, I decided to focus my research on students. Then, I decided to make a to-do list app to help students with ADHD easily organize and start tasks that might feel daunting.   
            </p>
    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center"><a href = "https://www.forbes.com/health/mind/adhd-statistics/">ADHD Fun Facts</h1></a>
        <p><ul>
            <li>  Worldwide, as of 2020, 366 million adults have been diagnosed with ADHD.
            </li>
            <li>In the US, roughly 6 million children (ages 3-17) have been diagnosed with ADHD.
            </li>
            <li>“Boys are more likely to be diagnosed with ADHD than girls in the U.S., with approximately 11.9% of boys ages 3 to 17 years diagnosed with ADHD currently, compared to 5.5% of girls.”</li>
        </ul>
        </p>
        </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">About the Author</h1>
        <p>My name is Amba Beattie. I am a senior in the Oakland Tech Computer Science Academy. I do not have ADHD but many of my close friends and family members do. Seeing these people struggle to completing work and my own experiences with procrastination inspired me to create this app.</p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}