{% extends "base.html" %}

{% block body %}
        <h1 class = "text-center">Add a Task!</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }} <br>
                {{ form.title(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }} <br>
                {{ form.description(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.priority.label }} <br>
                {{ form.priority(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.priority.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.date.label }} <br>
                {{ form.date(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p> {{ form.submit() }} </p>
        </form>

    </div>
       
{% endblock %}